################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheChess/.vs/TheChess/v16/Browse.VC.opendb
